* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(225, 220, 220);
}

.container {
    width: 300px;
    margin: 100px auto 0;

}

.select-option {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-around;
    border-radius: 10px;
    height: 50px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    background: #fff;
    font-size: 25px;
}

.select-option i {
    font-size: 25px;
    transition: transform 0.3s linear;
}

.container.active .select-option i {
    transform: rotate(-180deg);
}

.list-search-container {
    background-color: #fff;
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    display: none;
}

.container.active .list-search-container {
    display: block;
}

.search-box {
    position: relative;
}

.search-box i {
    position: absolute;
    top: 35%;
    left: 15px;
    font-size: 20px;
    color: gray;
}

.search-box input {
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 45px;
    border-radius: 5px;
    border: 1px solid #d3cbcb;
}

.search-box input:focus {
    border: 2px solid #5fbcbd;
}

.list {
    margin-top: 10px;
    max-height: 250px;
    overflow: auto;
    padding-right: 7px;
}

.list li {
    font-size: 21px;
    height: 50px;
    padding: 10px 15px;
}

.list li:hover,
li.selected {
    border-radius: 5px;
    background: #f2f2f2;
}